.bt-qna-section {
    padding: 110px 0 110px 0;
}
.bt-qna-section .title {
    color: #83868E;
    font-size: 35px;
    font-weight: bold;
    font-family: 'BebasNeue';
    margin-bottom: 40px;
}
.bt-qna-section .title p {
    margin: 0;
    padding: 0;
    line-height: 17px;
}



/* mobile */
@media only screen and (max-width: 600px) {
    .bt-qna-section {

    }
}