.bt-body-container {
    padding-top: 51px;
}


/* footer */
.bt-footer {
    background: #555;
    color: #fff;
    padding: 50px 0 50px 0;
}
.bt-footer .ft-title img {
    width: 50%;
}
.bt-footer .ft-content {
    font-size: 17px;
    margin-top: 12px;
}
.bt-footer .ft-contact-title {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
}
.bt-footer .contact-fr {
    margin-top: 20px;
}
.bt-footer .contact-fr textarea {
    width: 100%;
    min-height: 150px;
}
.form-horizontal .box-footer a {
    background: #21A8EE !important;
    padding: 8px 28px !important;
}
